/**My personal portfolio CSS**/
/**Universal CSS; then class/IDs**/
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Merriweather Sans', sans-serif;
          font-size: 16px;
}
header{
	background-color: #547F7F;
	color: white;
	text-align: center;
	margin:auto;
	height:75px;
	font-size: 55px;

}

nav{
	
}

.main {
	height: 500px;
	border: ;
	position: relative;
	background-color: #4ACBCC

}

.Experience {
	width:60%;
	height: 500px;
	position: absolute;

}

.personal-photo{
	width: 39%; 
	margin: auto;
	display: inline-block;
	position: absolute;
	right:0px;
	top:0px;

}

#image{
	display:inline-block;
	position: absolute;
	right:0px;
	top:0px;
	width: 320px;
	height: 350px;
}
footer{
	height:20px;
}
ul li{
	display: inline-block;
}