/**My personal portfolio CSS**/
/**Universal CSS; then class/IDs**/
body {
	background-image: url("images/mike-dennler.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

}
h1{
	text-align: center;
	background-color: steelblue;
	font-size: 40px;
}

p{
	font-size: 20px;

}

.container-fluid{
	height: 300px;
}

.navbar-text > a {
	color:inherit;
	text-decoration: none;
}

.minion {
	max-height: 200px;
}

.project {
	background-color: lightblue;
}